<div class='record show d-flex flex-center' id="<%= dom_id expenditure %>">
  <p>
    <strong><%= expenditure.name %></strong>
  </p>
  <p>
    <strong><span><%= expenditure.amount %><span> $</strong>
  </p>
</div>