<section class='section transactions-sect'>
  <div class='container'>
    <div class='card'>
      <div class='card-content'>
        <div class='media'>
          <div class='media-content'>
            <h1 class='title is-size-1 has-text-centered'>
              <%= @expenditure.name %>
            </h1>
            <p><strong>Date of transaction:</strong> <%= @expenditure.created_at %> </p>
            <p><strong>Amount:</strong> $<%= @expenditure.amount %></p>
          </div>
        </div>
      </div>
    </div>         
  </div>
</section>


  <div class='level-left'>
    <p class='level-item'>
      <%= link_to "Back to Expenditures", :back, class: 'button is-info is-small' %>
    </p>
  </div>