<p style="color: green"><%= notice %></p>

<div class="show-expense">
  <%= render @expenditure %>
  

  <div class="container-fluid d-flex mt-2">
    <%= link_to "Back to expenses", :back %>
  </div>
</div>

