<section class='section'>
  <div class='container'>
      <div class='card'>
        <div class='card-content'>
          <div class='media'>
            <div class='media-content'>
              <h1 class='title is-size-1 has-text-centered'>
                <%= @category.name %> expenses
              </h1>
                <div class='desc-span'>
                  <img src="<%= @category.icon %>" alt="<%= @category.name %>" class="image icon">
                   <p class='subtitle is-5'><%= @category.description %></p>
                </div>        
              <hr />
              <h5 class='subtitle is-size-6 total_cat_amount'> Total Amount:
                <%#= Total Amount %>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <hr />
      
  </div>
</section>

