<%= render 'categories' %>

<h1>Transanctions</h1>
<div class='container'> 
  
</div>
<%# link to add new expenditure %>
 <div class='level-right'>
  <p class='level-item'>
    <%= link_to "Add New Transaction", new_category_expenditure_path(@category), class: 'button is-primary' %>
  </p>
</div>




<%# return to category %>
      <%= link_to 'Back to Categories', categories_path, class: 'button is-primary is-small' %>