<%= render @category_expenditure %>

<div>
  <%= link_to "Edit this category record", edit_category_record_path(@category_expenditure) %> |
  <%= link_to "Back to category records", categories_path %>
  <%= button_to "Destroy this category record", @category_expenditure, method: :delete %>
</div>